# Arquivo de dependências Python para o projeto

# Framework Web
flask

# ORM (Object-Relational Mapper) para interagir com o banco de dados
sqlalchemy
flask-sqlalchemy
psycopg2-binary # Adaptador para PostgreSQL (ou mysql-connector-python para MySQL)

# Para realizar chamadas HTTP para a API do Mercado Livre
requests

# Para lidar com datas e horas
python-dateutil

# Para variáveis de ambiente (configurações seguras)
python-dotenv

# Ferramentas de desenvolvimento (opcional, mas recomendado)
# pylint
# pytest
